@import "reset";
@import "themes/dark";
@import "themes/white";
@import "variables/global";

.app {
    min-height: 100vh;
    color: var(--primary-color);
    font: var(--font-m);
    background: var(--bg-color);
}

.content_page {
    display: flex;
}

.page_wrapper {
    flex-grow: 1;
    padding: 20px;
}
