.title {
    font: var(--font-l);
    color: var(--primary-color);
}

.body {
    font: var(--font-m);
    color: var(--secondary-color);
}

.error {
    color: var(--red-ligth-color);
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
