.Button {
    color: var(--primary-color);
    cursor: pointer;
}

.clear {
    padding: 0;
    background: none;
    border: none;
    outline: none;
}

.background {
    background: var(--primary-color);
    font: var(--font-size-m);
    color: black;
}

.backgroundInverted {
    background: var(--inverted-primary-color);
    font: var(--font-size-m);
}

.outline {
    outline: none;
}

.size-m {
    font-size: var(--font-size-m);
}
